#hat {
    height:auto;
    background-color: #033761;
}

body {
    margin: 0%;
    background-color: #0A162B;
}

#logo {
    margin-left: 20.9%;
    width: 100px;
    height: 100px;
    float: left;
}

#text {
    font-size: 30pt;
    font-family: "Courier New", monotype;
    line-height: 250%;
    color: #F9F4CF;
}

#menu {
    text-align: center;
    /* margin-top: 20px; */
    background-color: #033761;
    font-size: 16px;
    /* width: 956px;
    height: 30px; */
    /* margin-right: auto;
    margin-left: auto; */
    /* line-height: 250%; */
}

#menu a{
    color: #F9F4CF;
}


#links {
    margin-bottom: 0%;
    /* margin-top: 20px; */
    list-style-type: none;
    background-color: #033761;
    /* width: auto; */
    color: aqua;
}

ol a {
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    color: #F9F4CF;
}

#dd{
    color: #F9F4CF;
}

ol li {
    margin: 15px;
}

ol p {
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
}

#table{
    /* margin-top: 20px; */
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    /* height: 200px; */
    text-align: center;
    width: 100%;
}

.honest{
    color: #F9F4CF;
    background-color: #033761;
}

.odd{
    color: #033761;
    background-color: #F9F4CF;
}

#form {
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    background-color: #033761;
    color: aqua;
    width: 100%;
    /*margin-top: 20px; */
}

#fields{
    height: 100px;
}

#form_list{
    list-style-type: none;
}

input {
    background-color:#F9F4CF;
}
 
select {
    background-color:#F9F4CF;
}

textarea {
    background-color:#F9F4CF;
}

#page-fragment1{
    margin: 0%;
}

#page-table2{
    margin: 0%;
}

#page-fragment2{
    margin: 0%;
}

footer{
    /* margin-top: 20px; */
    font-size: 30pt;
    background-color: #033761;
    color: #F9F4CF;
    font-family: "Courier New", monotype;
}
