#hat {
    height:120px;
    background-color: #033761;
}

body {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #0A162B;
}

#logo {
    margin-left: 24.6%;
    width: 100px;
    height: 100px;
    float: left;
}

#text {
    font-size: 30pt;
    font-family: "Courier New", monotype;
    line-height: 250%;
    color: #F9F4CF;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    order: 0;
    width: auto;
    background-color: #033761;
    height: 30px;
    line-height: 250%;
}

#menu a{
    color: #F9F4CF;
}

#link2{
    margin-left: 40%;
}

#link3{
    margin-left: 44%;
}

#links {
    order: 0;
    background-color: #033761;
    width: auto;
    color: aqua;
}

ol a {
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    color: #F9F4CF;
}

ol p {
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
}

#table{
    height: 500px;
    order: 1;
    text-align: center;
    width: auto;
}

.honest{
    color: #F9F4CF;
    background-color: #033761;
}

.odd{
    color: #033761;
    background-color: #F9F4CF;
}

#form {
    height: 500px;
    order: 0;
    background-color: #033761;
    color: aqua;
    width: auto;
}

input {
    background-color:#F9F4CF;
}
 
select {
    background-color:#F9F4CF;
}

textarea {
    background-color:#F9F4CF;
}

#page-fragment1{
    margin: 0%;
}

#page-table2{
    margin: 0%;
}

#page-fragment2{
    margin: 0%;
}

footer{
    display: flex;
    flex-direction: column;
    order: 1;
    font-size: 30pt;
    background-color: #033761;
    color: #F9F4CF;
    font-family: "Courier New", monotype;
}

@media screen and (min-width: 800px) {
    #hat { 
        height:120px;
        background-color: #033761;
    }
    
    body {
        margin: 0%;
        display: flex;
        flex-direction: column;
        background-color: #0A162B;
    }
    
    #logo {
        margin-left: 24.7%;
        width: 100px;
        height: 100px;
        float: left;
    }
    
    #text {
        font-size: 30pt;
        font-family: "Courier New", monotype;
        line-height: 250%;
        color: #F9F4CF;
    }
    
    #menu {
        order: 0;
        margin: 0.5%;
        width: 956px;
        background-color: #033761;
        height: 30px;
        margin-right: auto;
        margin-left: auto;
        line-height: 250%;
    }
    
    #menu a{
        color: #F9F4CF;
    }
    
    #link2{
        margin-left: 40%;
    }
    
    #link3{
        margin-left: 44%;
    }
    
    #links {
        margin: 0%;
        order: 0;
        background-color: #033761;
        margin-right: auto;
        margin-left: auto;
        width: 916px;
        color: aqua;
    }
    
    ol li {
        margin: 15px;
    }
    
    #table{
        margin: 0.5%;
        order: 0;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 960px;
    }
    
    .honest{
        color: #F9F4CF;
        background-color: #033761;
    }
    
    .odd{
        color: #033761;
        background-color: #F9F4CF;
    }
    
    #form {
        margin: 0%;
        order: 0;
        background-color: #033761;
        color: aqua;
        margin-right: auto;
        margin-left: auto;
        width: 960px;
    }
    
    input {
        background-color:#F9F4CF;
    }
    
    select {
        background-color:#F9F4CF;
    }
    
    textarea {
        background-color:#F9F4CF;
    }
    
    footer{
        font-size: 30pt;
        background-color: #033761;
        color: #F9F4CF;
        font-family: "Courier New", monotype;
    }

    #xXx{
        margin: 3.367px;
    }
}
